<div *ngIf="cartItems.length === 0" class="empty-cart-message">No items in the cart.</div>

<div class="cart-container" *ngIf="cartItems.length > 0">
  <div>
      <app-cart-item *ngFor="let cartItem of cartItems" [cartItem]="cartItem" (removeItem)="removeItem($event)"></app-cart-item>
      <p></p>
      <hr class="end-line"/>
      <p><b>Total: ${{ totalAmount }}</b></p>
      <p></p>
      <button class="btn btn-primary" style="margin-right: 10px;" (click)="emptyCart()">Empty Cart</button>
      <button class="btn btn-primary" style="margin-right: 10px;" (click)="checkOut()">Checkout</button>
  </div>
</div>
