.confirmation-header {
    color: #33e5bc
}

.confirmation-price {
    font-weight: bold;
}

.confirmation-fullname {
    font-style: italic;
}

.confirmation-address {
    font-style: italic;
}

#container {
    display: table;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    width: 55%;
    margin: auto;
}
