.img {
    border-radius: 10px;
    width: 120px;
    height: 250px;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.cart-item {
    margin-left: 20%;
    margin-right: 20%;
}